{% extends 'blog/base.html' %}

{% block content %}
    <article class="task">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}">Modifier</a>
                <a class="btn btn-danger" href="{% url 'task_delete' pk=task.pk %}">Suprimer</a>
                {% if task.status %}
                    <a class="btn btn-success" href="{% url 'task_toggle_done' pk=task.pk %}">Marquer non fait</a>
                {% else %}
                    <a class="btn btn-warning" href="{% url 'task_toggle_done' pk=task.pk %}">Marquer fait</a>
                {% endif %}
            {% endif %}
        </aside>
        <time class="date">
            {{ task.due_date }}
        </time>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description|linebreaksbr }}</p>
        <p><strong>Statut :</strong> {% if task.status %} Fait {% else %} Non fait {% endif %}</p>
    </article>
{% endblock %}